<div class="col-12 col-md-6 col-lg-4 my-2">
    <article class="p-3">
        <img src="/images/<%= producto.image %>"  class="img-fluid" alt="" />
            <h4><%= producto.title %> </h4>
            <p>
                <%= producto.description %> 
            </p>
            <a href="/products/detail/<%= producto.id %>">ver más</a>
       
    </article>
</div>