<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head')  %> 

<body>
  <%- include('./partials/header')  %> 
    <div class="register">
        <main class="container mt-5">
          <h3 id="text-search"></h3>
          <div id="box-products" class="row">
          
          </div>
        </main>
    </div>
    <%- include('./partials/scripts')  %> 
    <script src="/javascripts/search.js"></script>
</body>
</html>