<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head')  %> 
<body>
    <%- include('./partials/header')  %> 

    <div class="login">
        <main class="container">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-4 mx-auto mt-5">
                    <div class="card py-4">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4">BIENVENIDO</h5>
                            <hr>
                            <form action="" method="POST">
                                <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label">Email</label>
                                  <input type="email" placeholder="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar">
                                        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                                      </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Enviar</button>

                                </div>
                                <span class="text-danger"><%= locals.errores && errores.email ? errores.email.msg : null%> </span>
                              </form>
                        </div>
                       
                    </div>
                </div>
            </div>
           

        </main>
    </div>
    <%- include('./partials/scripts')  %> 

</body>
</html>